shell = "bash -c '{}'"

[[items]]
file = "~/.config/kitty/colors.conf"
template = "kitty"
subtemplate = "custom-256"
rewrite = true
hook = 'for SOCKET in $(ls /tmp/kitty-*); do kitty @ --to "unix:${SOCKET}" set-colors ~/.config/kitty/colors.conf; done'
light = true

[[items]]
file = "~/.config/nvim/lua/plugins/configs/base16.lua"
template = "nvim"
rewrite = true

[[items]]
file = "~/.config/rofi/config.rasi"
template = "rofi"
rewrite = true

[[items]]
file = "~/.Xresources"
template = "xresources"
subtemplate = "default-256"
rewrite = true

[[items]]
file = "~/.config/i3/client-properties"
template = "i3"
subtemplate = "client-properties"
rewrite = true
hook = 'i3-msg reload'
light = false

[[items]]
file = "~/.config/polybar/base16.ini"
template = "polybar"
rewrite = true
hook = 'reload-polybar.sh'
light = false

[[items]]
file = "~/.config/polybar/plugins/weather-colors.sh"
template = "weather"
rewrite = true

[[items]]
file= "~/.config/zathura/zathurarc"
template = "zathura"
rewrite = true

[[items]]
file = "~/.config/FlatColor/colors3"
template = "gtk-flatcolor"
subtemplate = "gtk-3"
rewrite = true
hook = "killall xsettingsd 2>/dev/null; xsettingsd &"

[[items]]
file = "~/.config/FlatColor/colors2"
template = "gtk-flatcolor"
subtemplate = "gtk-2"
rewrite = true

[[items]]
file = "~/.config/discocss/custom.css"
template = "discord"
subtemplate = "css-variables"
rewrite = false
start= "/* Start flavours */"
end = "/* End flavours */"
hook = "discocss"

[[items]]
file = "~/.config/flavours/common/colors.sh"
template = "shell"
subtemplate = "variables"
rewrite = true
hook = "bash ~/.config/telegram/base16-telegram.sh"
light = true
