[base16]
; Base16 {{scheme-name}} - spicetify Sleek theme colors
; Scheme by {{scheme-author}}
text               = {{base05-hex}}
subtext            = {{base04-hex}}
main               = {{base00-hex}}
sidebar            = {{base00-hex}}
player             = {{base00-hex}}
card               = {{base01-hex}}
shadow             = {{base01-hex}}
selected-row       = {{base0E-hex}}
button             = {{base0F-hex}}
button-active      = {{base0F-hex}}
button-disabled    = {{base03-hex}}
tab-active         = {{base0E-hex}}
notification       = {{base0D-hex}}
notification-error = {{base08-hex}}
misc               = {{base00-hex}}
