#!/bin/sh

export COLOR_CLOUD="#{{base04-hex}}"
export COLOR_THUNDER="#{{base0A-hex}}"
export COLOR_LIGHT_RAIN="#{{base0C-hex}}"
export COLOR_HEAVY_RAIN="#{{base0D-hex}}"
export COLOR_SNOW="#{{base07-hex}}"
export COLOR_FOG="#{{base04-hex}}"
export COLOR_TORNADO="#{{base0F-hex}}"
export COLOR_SUN="#{{base0A-hex}}"
export COLOR_MOON="#{{base06-hex}}"
export COLOR_ERR="#{{base08-hex}}"
export COLOR_WIND="#{{base06-hex}}"
export COLOR_COLD="#{{base0D-hex}}"
export COLOR_HOT="#{{base09-hex}}"
export COLOR_NORMAL_TEMP="#{{base05-hex}}"
