[global]
    frame_color = "#{{base05-hex}}"
    separator_color = "#{{base05-hex}}"

[urgency_low]
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"

[urgency_normal]
    background = "#{{base01-hex}}"
    foreground = "#{{base06-hex}}"

[urgency_critical]
    background = "#{{base08-hex}}"
    foreground = "#{{base07-hex}}"
